version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      # This dependency is kept in sync with our configured vs code engine and does not need
      # to be updated.
      - dependency-name: "@types/vscode"
