.vscode/**
.vscode-test/**
.github/**
.gitignore
.yarnrc
.envrc
.env
.nvmrc
out/test/**
src/**
test/**
test-results/**
scripts/**
**/biome.json
**/tsconfig.json
**/*.map
**/*.ts
.vscode-test.mjs
DEVELOPMENT.md
Makefile
