.vscode/**
.vscode-test/**
.github/**
.gitignore
.prettierignore
.yarnrc
.envrc
.env
.nvmrc
out/test/**
src/**
test/**
test-results/**
scripts/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.vscode-test.mjs
eslint.config.mjs
DEVELOPMENT.md
Makefile
