name: ci
on: push

jobs:
  build:
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        buf-bin-setup:
          # these strings are referenced in the tests
          - buf-on-path
          - buf-not-on-path
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: setup-node
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: npm
      - uses: bufbuild/buf-action@v1
        if: matrix.buf-bin-setup == 'buf-on-path'
        with:
          setup_only: true
      - name: install-deps
        run: npm ci
      - name: build
        run: npm run compile
      - name: lint
        run: npm run lint
      - name: format
        run: npm run format
      - name: integration-tests-with-xvfb
        env:
          BUF_INSTALLED: ${{ matrix.buf-bin-setup }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: xvfb-run -a npm run test
        if: runner.os == 'Linux'
      - name: integration-tests
        shell: bash
        env:
          BUF_INSTALLED: ${{ matrix.buf-bin-setup }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run test
        if: runner.os != 'Linux'
      - name: check diff
        run: node scripts/gh-diffcheck.mjs
