name: ci
on: push

jobs:
  build:
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        install-buf:
          - 0
          - 1
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup-node
        uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"
          cache: npm
      - uses: bufbuild/buf-action@v1
        if: matrix.install-buf == 1
        with:
          setup_only: true
      - name: install-deps
        run: make install
      - name: build
        run: npm run compile
      - name: prepworkspaces
        run: npm run prepworkspaces
      - name: lint
        run: npm run lint
      - name: format
        run: npm run format
      - name: integration-tests-with-xvfb
        run: xvfb-run -a npm run test:integration
        if: runner.os == 'Linux'
      - name: integration-tests
        shell: bash
        env:
          BUF_INSTALLED: ${{ matrix.install-buf }}
        run: npm run test:integration
        if: runner.os != 'Linux'
      - name: playwright-tests
        run: npm run test:playwright
        # Limiting playwright tests to macOS for now due to issues with xvfb on Linux and
        # timeouts on windows
        if: runner.os == 'macOS'
      - name: check diff
        run: node scripts/gh-diffcheck.mjs
      - name: upload-playwright-test-results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-results
          path: test-results/
          retention-days: 5
          if-no-files-found: ignore
