name: ci
on: push

jobs:
  ci:
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: setup-node
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: npm
      - uses: bufbuild/buf-action@v1
        with:
          setup_only: true
      - run: npm ci
      - run: npm run compile
      - run: npm run prepworkspaces
      - run: npm run lint
      - run: npm run format
      - name: check diff
        run: node scripts/gh-diffcheck.mjs
      - name: integration-tests-with-xvfb
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: xvfb-run -a npm run test:integration
        if: runner.os == 'Linux'
      - name: integration-tests
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run test:integration
        if: runner.os != 'Linux'
