name: Publish Extension

on:
  release:
    types: [published]

jobs:
  publish:
    permissions:
      pull-requests: read
      # Specifically allow writing the contents of the repository, as this workflow
      # will create a commit that updates the package.json to the new version.
      contents: write
    environment: production
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "npm"

      - name: Generate Github Token
        id: generate_gh_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: 2703555
          private-key: ${{ secrets.RELEASE_APP_TOKEN_PRIVATE_KEY }}
          permission-contents: write

      - name: Install dependencies
        run: npm ci

      # NOTE: ${{github.event.release.tag_name}} is the tag name from the release.
      # Using `@vscode/vsce package` will tag a new commit with the version in package.json.
      - name: Package extension (regular)
        if: github.event.release.prerelease == false
        run: |
          git config --global user.email "256439237+app-token-vscode-buf-release[bot]@users.noreply.github.com"
          git config --global user.name "app-token-vscode-buf-release[bot]"
          git config --global url."https://x-access-token:${{ steps.generate_gh_token.outputs.token }}@github.com/bufbuild/vscode-buf".insteadOf "https://github.com/bufbuild/vscode-buf"
          npx vsce package ${{ github.event.release.tag_name }}
          git push https://x-access-token:${{ steps.generate_gh_token.outputs.token }}@github.com/${{ github.repository }}.git HEAD:${{ github.event.repository.default_branch }}

      - name: Package extension (pre-release)
        if: github.event.release.prerelease == true
        run: |
          git config --global user.email "256439237+app-token-vscode-buf-release[bot]@users.noreply.github.com"
          git config --global user.name "app-token-vscode-buf-release[bot]"
          git config --global url."https://x-access-token:${{ steps.generate_gh_token.outputs.token }}@github.com/bufbuild/vscode-buf".insteadOf "https://github.com/bufbuild/vscode-buf"
          npx vsce package --pre-release ${{ github.event.release.tag_name }}
          git push https://x-access-token:${{ steps.generate_gh_token.outputs.token }}@github.com/${{ github.repository }}.git HEAD:${{ github.event.repository.default_branch }}

      - name: Publish to VS Code Marketplace (regular)
        if: github.event.release.prerelease == false
        run: npm exec -- @vscode/vsce publish --packagePath *.vsix
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
      - name: Publish to VS Code Marketplace (pre-release)
        if: github.event.release.prerelease == true
        run: npm exec -- @vscode/vsce publish --pre-release --packagePath *.vsix
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}

      - name: Publish to OpenVSX (regular)
        if: github.event.release.prerelease == false
        run: npm exec -- ovsx publish *.vsix
        env:
          OVSX_PAT: ${{ secrets.OVSX_PAT }}
      - name: Publish to OpenVSX (pre-release)
        if: github.event.release.prerelease == true
        run: npm exec -- ovsx publish *.vsix --pre-release
        env:
          OVSX_PAT: ${{ secrets.OVSX_PAT }}
