name: Publish Extension

on:
  release:
    types: [published, prereleased]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Package extension (regular)
        if: github.event.release.prerelease == false
        run: npm run package
      - name: Package extension (pre-release)
        if: github.event.release.prerelease == true
        run: npm run package:prerelease

      - name: Set up git credentials
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Publish to VS Code Marketplace (regular)
        if: github.event.release.prerelease == false
        # NOTE: ${{github.event.release.tag_name}} is the tag name from the release.
        # Ref: https://docs.github.com/en/actions/reference/workflows-and-actions/events-that-trigger-workflows#release
        # Using `@vscode/vsce publish <version>` will tag a new commit with the version in package.json.
        # Ref: https://code.visualstudio.com/api/working-with-extensions/publishing-extension#autoincrement-the-extension-version
        run: npm exec @vscode/vsce publish ${{ github.event.release.tag_name }} --packagePath *.vsix
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
      - name: Publish to VS Code Marketplace (pre-release)
        if: github.event.release.prerelease == true
        run: npm exec @vscode/vsce publish ${{ github.event.release.tag_name }} --pre-release --packagePath *.vsix
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}

      - name: Push version commit
        run: |
          git push origin HEAD:${{ github.event.repository.default_branch }}

      - name: Publish to OpenVSX (regular)
        if: github.event.release.prerelease == false
        run: npm exec ovsx publish *.vsix
        env:
          OVSX_PAT: ${{ secrets.OVSX_PAT }}
      - name: Publish to OpenVSX (pre-release)
        if: github.event.release.prerelease == true
        run: npm exec ovsx publish *.vsix --pre-release
        env:
          OVSX_PAT: ${{ secrets.OVSX_PAT }}
